.DS_Store
**/node_modules/
dist/
build/
.firebase/
emu-nohup.log
firebase-debug.log
*.log
.env
.env.*
.vscode/
.idea/
coverage/
/.cache
public/assets/
dist/assets/
/*.local
/.sass-cache
.parcel-cache
/.serverless
/.turbo
/*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tinysteps-react-v1-firebase-adminsdk-*.json
